<div class="container">

    <h3>Crear estudiante</h3>
    
        <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="data.name" placeholder="Ingresa tu nombre">
        </div>
        <div class="form-group">
            <label for="age">edad</label>
            <input type="text" class="form-control" id="age" [(ngModel)]="data.age" placeholder="Ingresa tu edad">
        </div>
        <div class="form-group">
            <label for="address">Direccion</label>
            <input type="text" class="form-control" id="address" [(ngModel)]="data.address" placeholder="Ingresa tu direccion">
        </div>
        <button type="submit" class="btn btn-primary" (click)="submitForm()">Agregar</button>
</div> 
